fastapi==0.124.4
flake8==7.1.2
pydantic==2.12.5
lightgbm==4.6.0
numpy==2.2.3
pandas==2.2.3
scipy==1.15.2
python-dotenv==1.0.0
alembic==1.17.2
asyncpg==0.31.0
psycopg2-binary
greenlet
python-jose
passlib==1.7.4
bcrypt==4.2.0
